
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    text-align: center;
}
h1 {
    color: #4CAF50;
}
.dataTables_wrapper .dataTables_filter input {
    margin-left: 0.5em;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0.5em 1em;
    margin-left: 0.1em;
    color: #333;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
}
